<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head th:include="layout :: htmlhead"></head>
    <body>
        <div class="container">
            <nav th:replace="layout :: menu">(menu)</nav>
            <div class="border border-dark">
                <form th:action="@{/consulta}"  action="#" method="post">
                    <div th:object="${consulta}">                  
                        <input type="hidden" id="txtid" th:field="${consulta.id}" />
                        <div class="form-group">
                            <label for="datetimepicker1">Data da Consulta</label>
                            <div class="input-group date" id="datetimepicker1" data-target-input="nearest">
                                <input type="text" class="form-control datetimepicker-input" data-target="#datetimepicker1"
                                    th:field="${consulta.data}"/>
                                <div class="input-group-append" data-target="#datetimepicker1" data-toggle="datetimepicker">
                                    <div class="input-group-text"><i class="fa fa-calendar"></i></div>
                                </div>
                            </div>
                        </div>
                       
                        <div class="form-group">
                            <label for="slcMedico">Médico</label>
                            <select class="form-control" id="slcMedico" th:field="${consulta.medicoResponsavel}">
                                <option th:each="umMedico : ${listaMedico}" th:value="${umMedico.id}" th:text="${umMedico.nome}"></option>
                            </select>
                        </div>
                       
                        <div class="form-group">
                            <label for="slcPaciente">Paciente</label>
                            <select class="form-control" id="slcPaciente" th:field="${consulta.paciente}">
                                <option th:each="umPaciente : ${listaPaciente}" th:value="${umPaciente.id}" th:text="${umPaciente.nome}"></option>
                            </select>
                        </div>
                       
                        <div class="form-group">
                            <label for="slcstatus">Status</label>
                            <select class="form-control" id="slcstatus" th:field="${consulta.status}">
                                <option th:value="Agendado">Agendado</option>
                                <option th:value="Atendimento">Atendimento</option>
                                <option th:value="Finalizado">Finalizado</option>
                            </select>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-header">Vincluar Procedimentos</div>
                        <div class="card-body">
                            <div class="container" th:object="${novoprocrealizado}">
                              <div class="row">
                                <div class="col-sm">
                                  <select class="form-control" id="slcProcedimentos" th:field="${novoprocrealizado.procedimento}">
                                    <option th:each="umProc : ${listaProcedimento}" th:value="${umProc.id}" th:text="${umProc.descricao}"></option>
                                  </select>
                                </div>
                                <div class="col-sm">
                                  <label for="txtvalor">Valor</label>
                                </div>
                                <div class="col-sm">
                                  <input type="text" class="form-control" id="txtvalor" th:field="${novoprocrealizado.valor}" placeholder="Valor">
                                </div>
                                <div class="col-sm">
                                    <button type="submit" name="insertproc" class="btn btn-primary">Inserir item</button>
                                </div>
                              </div>
                            </div>
                            <br>                           
                            <table class="table">
                                <thead class="thead-light">
                                    <tr>
                                        <th scope="col">Procedimento</th>
                                        <th scope="col">Valor</th>
                                        <th scope="col"></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr scope="row" th:each="procreali, stat : ${consulta.listaProcedimentos}">
                                        <input type="hidden" th:field="${consulta.listaProcedimentos[__${stat.index}__].procedimento}"/>
                                        <input type="hidden" th:field="${consulta.listaProcedimentos[__${stat.index}__].valor}"/>
                                        <td th:text="${procreali.procedimento.descricao}"></td>
                                        <td th:text="${procreali.valor}"></td>
                                        <td>
                                            <button type="submit" name="removeproc" th:value="__${stat.index}__" class="btn btn-primary">Remover</button>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <button type="submit" name="save" class="btn btn-primary">Enviar</button>
                </form>
            </div>
        </div>
        <div th:include="layout :: footer" id="footer">(footer)</div>
        <script type="text/javascript">
            $(function () {
                $('#datetimepicker1').datetimepicker({
                    format:"DD/MM/YYYY HH:mm"                  
                });
            });
        </script>
    </body>
</html>